                        <li class="">
                            <a class="js-arrow" href="dashboard">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>
                        <li>
                            <a href="usuarios">
                                <i class="fas fa-users"></i>Usuários
                            </a>
                        </li>
                        <li>
                            <a href="noticias">
                                <i class="fas fa-envelope"></i>Noticias
                            </a>
                        </li>
                        <li>
                            <a href="editais">
                                <i class="fas fa-file-alt"></i>Editais
                            </a>
                        </li>
                        <li>
                            <a href="paginas">
                                <i class="fas fa-file"></i>Páginas
                            </a>
                        </li>
                        <li>
                            <a href="cronogramas">
                                <i class="fas fa-calendar-alt"></i>Cronogramas
                            </a>
                        </li>
                        <li>
                            <a href="apresentacoes">
                                <i class="fas fa-book"></i>Apresentações
                            </a>
                        </li>
                        <li>
                            <a href="mini_cursos">
                                <i class="fas fa-calendar"></i>Mini Cursos
                            </a>
                        </li>
                        <li>
                            <a href="palestras">
                                <i class="fas fa-bookmark"></i>Palestras
                            </a>
                        </li>
                        <li>
                            <a href="anos">
                                <i class="fas fa-calendar-check-o "></i>Anos
                            </a>
                        </li>