                        <li class="">
                            <a class="js-arrow" href="{{base_url()}}/admin/dashboard">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>
                        <li>
                            <a href="{{base_url()}}/admin/usuarios">
                                <i class="fas fa-users"></i>Usuários
                            </a>
                        </li>
                        <li>
                            <a href="{{base_url()}}/admin/areas">
                                <i class="fas fa-tags "></i>Áreas
                            </a>
                        </li>
                        <li>
                            <a href="{{base_url()}}/admin/noticias">
                                <i class="fas fa-envelope"></i>Noticias
                            </a>
                        </li>
                        <li>
                            <a href="{{base_url()}}/admin/editais">
                                <i class="fas fa-file-alt"></i>Editais
                            </a>
                        </li>
                        <!-- <li>
                            <a href="{{base_url()}}/admin/paginas">
                                <i class="fas fa-file"></i>Páginas
                            </a>
                        </li> -->
                        <li>
                            <a href="{{base_url()}}/admin/cronogramas">
                                <i class="fas fa-calendar-alt"></i>Cronogramas
                            </a>
                        </li>
                        <li>
                            <a href="{{base_url()}}/admin/apresentacoes">
                                <i class="fas fa-book"></i>Apresentações
                            </a>
                        </li>
                        <li>
                            <a href="{{base_url()}}/admin/mini_cursos">
                                <i class="fas fa-calendar"></i>Mini Cursos
                            </a>
                        </li>
                        <li>
                            <a href="{{base_url()}}/admin/palestras">
                                <i class="fas fa-bookmark"></i>Palestras
                            </a>
                        </li>
                        <li>
                            <a href="{{base_url()}}/admin/anos">
                                <i class="fas fa-calendar-check-o "></i>Anos
                            </a>
                        </li>