{% extends ['front/', ano_atual['nome_ano'], '/base/template-base.html']|join %}
{% block title %}Certificados{% endblock %}
{% block content %}
    <div class="pag-conheca">
        <div class="container" id="certificados">
            <div class="space-100"></div>
            <div class="tim-title text-center">
                <h1>Certificados</h1>
            </div>
            <div class="space-30"></div>
            <div class="text-justify tim-title .text-nowrap">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-base animated bounceInLeft">
                            <div class="card-icon">
                                <div class="card-data widgetCardData">
                                    <!-- <h2 class="box-title">Em breve!</h2> -->
                                    <p class="card-block textoPalestra">
                                        <h3>
                                            Aviso: Certificados de apresentação serão disponibilizados no site dos <a href="http://sysprppg.ufc.br/eu/2019/">Encontros Universitarios de Fortaleza</a>.
                                        </h3>
                                    </p>
                                    <p class="card-block textoPalestra">
                                        <h3 class="card-left textoPalestra"><a href="https://drive.google.com/open?id=1D3z1Hga01KRhPSUU99zL9yzmqY369cxk">Certificados de Participação nos EU 2019</a></h3>
                                        <h3 class="card-left textoPalestra"><a href="https://drive.google.com/open?id=1Il8xN1O4qFV8px02HOF-D4pLNsDzwfzi">Certificados de Premiação nos EU 2019</a></h3>
                                        <h3 class="card-left textoPalestra"><a href="https://drive.google.com/open?id=1_tUw5cWdYgSQbHGQpQ-cJPHmj1oaVYv1">Certificados dos Minicursos e Oficinas</a></h3>
                                        <h3 class="card-left textoPalestra"><a href="https://drive.google.com/open?id=1tMqIZ4CsDDZXlFd-2t7y5O0pzR18wxXC">Certificados dos Minicursos e Oficinas (Facilitadores)</a></h3>
                                        <h3 class="card-left textoPalestra"><a href="https://drive.google.com/open?id=1pnzx_4tOtLKYcJrRh5Gk66_u2dbe_USb">Certificados da Feira Mix</a></h3>
                                        <h3 class="card-left textoPalestra"><a href="https://drive.google.com/open?id=1eTY1pOJeheMww8sYb6MdbzTbEdTpwIAZ">Certificados da Mostra Artística</a></h3>
                                        <h3 class="card-left textoPalestra"><a href="https://drive.google.com/open?id=1yBcVAUIFimxKsApkw0W4rSsPiU91bGal">Certificados da Feira das Profissões</a></h3>
                                        <h3 class="card-left textoPalestra"><a href="https://drive.google.com/open?id=12DJJzjXSxcBPeMVzLghcVR6WwJelkY23">Certificados da Equipe de Apoio </a></h3>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="space-30"></div>
        </div>
    </div>
{% endblock %}
