{% extends ['front/', ano_atual['nome_ano'], '/base/template-base.html']|join %}
{% block title %}Página Não Encontrada{% endblock %}
{% block content %}
    <div class="pag-error">
        <div class="container">
            <div class="space"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                            <div class="card-base animated bounceInLeft">
                                <div class="card-icon">
                                    <img src="{{base_url()}}/assets/img/imgerror.png" id="widgetCardIcon" class="imagecard">
                                    <div class="card-data widgetCardData">
                                        <h2 class="box-title">Página não Encontrada!</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="space"></div>
        </div>
    </div>
{% endblock %}