{% extends ['front/', ano_atual['nome_ano'], '/base/template-base.html']|join %}
{% block title %}Edital{% endblock %} {% block content %}
<!-- Content -->
{% include ['front/', ano_atual['nome_ano'], '/base/navbar.html']|join %}
<div class="h-full px-4 bg-primary-color py-5">
    <div
        class="md:max-w-6xl md:mx-auto md:flex md:items-center md:justify-between bg-mosaico py-5 px-5"
    >
        <div
            class="w-full py-5 md:py-14 sm:py-8 xl:py-16 px-5 bg-whitesmoke-500"
        >
            <h1
                id="titulo"
                class="text-xl font-semibold md:text-3xl sm:text-2xl xl:text-5xl xl:font-bold text-maire-500 mb-4"
            >
                Editais
            </h1>
            <div id="conteudo" class="xl:text-xl text-maire-500 py-4">
                {% if editais %}
                <div class="flex flex-col space-y-12">
                    {% for edital in editais %}
                    <div class="edital py-2">
                        <p
                            class="text-xl font-semibold uppercase text-maire-500 mb-4"
                        >
                            {{ edital.nome }} - {{ edital.tipo }}
                        </p>
                        {% if edital.arquivo %}
                        <a
                            href="{{[base_url(),'/uploads/editais/', edital.arquivo]|join}}"
                            target="_blank"
                            class="px-3 py-2 font-semibold uppercase edital-button"
                        >
                            Clique aqui
                        </a>
                        {% else %} {% if edital.link %}
                        <a
                            href="{{ edital.link }}"
                            target="_blank"
                            class="px-3 py-2 font-semibold uppercase edital-button"
                        >
                            Clique aqui
                        </a>
                        {% endif %} {% endif %}
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <p class="text-xl font-semibold uppercase text-maire-500">
                    Não há editais no momento!
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
