{% extends 'front/base/template-base.html' %}
{% block title %}Editais{% endblock %}
{% block content %}
    <div class="pag-noticias">
        <div class="container">
            <div class="space-30"></div>
            <div class="tim-title text-center">
                <h1>Editais</h1>
            </div>
            <div class="space-30"></div>
            <div class="text-justify tim-title text-center .text-nowrap">
                <ol>
                    <li class="link-list__item">
                        <article>
                            <header class="text-left">
                                <a href="caminho">
                                    <h1 class="link-list__title">EDITAL DA SELEÇÃO DE APOIO PARA OS ENCONTROS 2019</h1>
                                    <h2 class="link-list__subtitle">A organização dos Encontros universitários, no uso
                                        de suas atribuições, divulga o edital da seleção de alunos para organização dos
                                        EU</h2>
                                    <a href="#">
                                        <div class="text-right color-black">leia mais<i class="fa fa-chevron-right"></i>
                                        </div>
                                    </a>
                                </a>
                            </header>
                        </article>
                    </li>
                    <li class="link-list__item">
                        <article>
                            <header class="text-left">
                                <a href="caminho">
                                    <h1 class="link-list__title">EDITAL DA SELEÇÃO DE APOIO PARA OS ENCONTROS 2019</h1>
                                    <h2 class="link-list__subtitle">A organização dos Encontros universitários, no uso
                                        de suas atribuições, divulga o edital da seleção de alunos para organização dos
                                        EU</h2>
                                    <a href="#">
                                        <div class="text-right color-black">leia mais<i class="fa fa-chevron-right"></i>
                                        </div>
                                    </a>
                                </a>
                            </header>
                        </article>
                    </li>
                    <li class="link-list__item">
                        <article>
                            <header class="text-left">
                                <a href="caminho">
                                    <h1 class="link-list__title">EDITAL DA SELEÇÃO DE APOIO PARA OS ENCONTROS 2019</h1>
                                    <h2 class="link-list__subtitle">A organização dos Encontros universitários, no uso
                                        de suas atribuições, divulga o edital da seleção de alunos para organização dos
                                        EU</h2>
                                    <a href="#">
                                        <div class="text-right color-black">leia mais<i class="fa fa-chevron-right"></i>
                                        </div>
                                    </a>
                                </a>
                            </header>
                        </article>
                    </li>
                    <li class="link-list__item">
                        <article>
                            <header class="text-left">
                                <a href="caminho">
                                    <h1 class="link-list__title">EDITAL DA SELEÇÃO DE APOIO PARA OS ENCONTROS 2019</h1>
                                    <h2 class="link-list__subtitle">A organização dos Encontros universitários, no uso
                                        de suas atribuições, divulga o edital da seleção de alunos para organização dos
                                        EU</h2>
                                    <a href="#">
                                        <div class="text-right color-black">leia mais<i class="fa fa-chevron-right"></i>
                                        </div>
                                    </a>
                                </a>
                            </header>
                        </article>
                    </li>
                    <li class="link-list__item">
                        <article>
                            <header class="text-left">
                                <a href="caminho">
                                    <h1 class="link-list__title">EDITAL DA SELEÇÃO DE APOIO PARA OS ENCONTROS 2019</h1>
                                    <h2 class="link-list__subtitle">A organização dos Encontros universitários, no uso
                                        de suas atribuições, divulga o edital da seleção de alunos para organização dos
                                        EU</h2>
                                    <a href="#">
                                        <div class="text-right color-black">leia mais<i class="fa fa-chevron-right"></i>
                                        </div>
                                    </a>
                                </a>
                            </header>
                        </article>
                    </li>
                </ol>
            </div>
        </div>
        <nav class="paginate">
            <ul class="pagination">
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="">2</a>
                </li>
                <li>
                    <a href="">3</a>
                </li>
                <li>
                    <a href="">4</a>
                </li>
                <li>
                    <a href="">5</a>
                </li>
            </ul>
        </nav>
        <div class="space-30"></div>
    </div>
{% endblock %}