{% extends 'front/base/template-base.html' %}
{% block title %}Erro no Servidor{% endblock %}
{% block content %}
    <div class="pag-emBreve">
        <div class="container">
            <div class="space"></div>
            <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-base animated bounceInLeft">
                                <div class="card-icon">
                                    <img src="{{base_url()}}/assets/img/imgconstrucao.png"  id="widgetCardIcon" class="imagecard">
                                    <div class="card-data widgetCardData">
                                        <h2 class="box-title">Em breve</h2>
                                    </div>
                                </div>
                            </div>
                        </div>      
                    </div>
                </div>
            <div class="space"></div>
        </div>
    </div>
{% endblock %}