{% extends 'front/base/template-base.html' %}
{% block title %}Espaço Gastronômico{% endblock %}
{% block content %}
    <div class="pag-palestra">
        <div class="container">
            <div class="space-100"></div>
            <div class="tim-title text-center">
                <h1>Espaço Gastronômico</h1>
            </div>
            <div class="space-30"></div>
                <div class="container">
                    {% if espacos_gastronomicos %}
                    {% for espaco_gastronomico in espacos_gastronomicos %}
                    <div class="row">
                        <div class = "col-md-12">
                            <div class="card-base animated bounceInLeft">
                                <div class="card-icon"><img src="{{espaco_gastronomico.imagem is null ? [base_url(),'/assets/img/pess1.png']|join:[base_url(),'/uploads/artisticos/', espaco_gastronomico.imagem]|join}}" id="widgetCardIcon" class="imagecard">
                                    <div class="card-data widgetCardData">
                                        <h3>{{espaco_gastronomico.titulo}}</h3>
                                        <div class="card-left">
                                            <p class="card-block textoPalestra"><b>Autor</b>: {{espaco_gastronomico.facilitador}}</p>
                                            <p class="card-block textoPalestra"><b>Área de atuação</b>: {{espaco_gastronomico.area}}</p>
                                            <p class="card-block textoPalestra"><b>Horário: </b>{{espaco_gastronomico.data}}</p>
                                            <p class="card-block textoPalestra"><b>Sala</b>: {{espaco_gastronomico.local}}</p>
                                            <p class="card-block textoPalestra">
                                                <b>Resumo:</b>
                                                <div class="card-resumo">
                                                    {{espaco_gastronomico.resumo|raw}}
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="space-30"></div>
                                </div>
                            </div>
                        </div>      
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-base animated bounceInLeft">
                                <div class="card-icon">
                                    <div class="card-data widgetCardData">
                                        <h2 class="box-title">Em Breve!</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            <div class="space-30"></div>
            
        </div>
    </div>
{% endblock %}