{% extends 'front/base/template-base.html' %}
{% block title %}Feira de Artesanato{% endblock %}
{% block content %}
    <div class="pag-palestra">
        <div class="container" id="feira_de_artesanato">
            <div class="space-100"></div>
            <div class="tim-title text-center">
                <h1>Espaço pet</h1>
            </div>
            <div class="space-30"></div>
                <div class="container">
                    {% if feira_de_artesanatos %}
                    {% for feira_de_artesanato in feira_de_artesanatos %}
                    <div class="row">
                        <div class = "col-md-12">
                            <div class="card-base animated bounceInLeft">
                                <div class="card-icon"><img src="{{feira_de_artesanato.imagem is null ? [base_url(),'/assets/img/pess1.png']|join:[base_url(),'/uploads/artistico/', feira_de_artesanato.imagem]|join}}" id="widgetCardIcon" class="imagecard">
                                    <div class="card-data widgetCardData">
                                        <h3>{{feira_de_artesanato.titulo}}</h3>
                                        <div class="card-left">
                                            <p class="card-block textoPalestra"><b>Autor</b>: {{feira_de_artesanato.facilitador}}</p>
                                            <p class="card-block textoPalestra"><b>Área de atuação</b>: {{feira_de_artesanato.area}}</p>
                                            <p class="card-block textoPalestra"><b>Horário: </b>{{feira_de_artesanato.data}}</p>
                                            <p class="card-block textoPalestra"><b>Sala</b>: {{feira_de_artesanato.local}}</p>
                                            <p class="card-block textoPalestra">
                                                <b>Resumo:</b>
                                                <div class="card-resumo">
                                                    {{feira_de_artesanato.resumo|raw}}
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="space-30"></div>
                                </div>
                            </div>
                        </div>      
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-base animated bounceInLeft">
                                <div class="card-icon">
                                    <div class="card-data widgetCardData">
                                        <h2 class="box-title">Em Breve!</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            <div class="space-30"></div>
            
        </div>
    </div>
{% endblock %}