{% extends 'front/base/template-base.html' %}
{% block title %}Inicio{% endblock %}
    {% block content %}
    <div class="container">
        <div class="space-30"></div>
        <div class="row">
            <div class="col-lg-1 hidden-xs hidden-sm hidden-md esp-sup">
                <button type="button" role="presentation"
                    class="glyphicon glyphicon-chevron-left btn go go-left">
                </button>
            </div>
            <div class="col-lg-10">
                <div class="owl-carousel carousel-noticias">
                    {% for noticia in noticias%}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <img src="{{noticia.imagem is null ? [base_url(),'/assets/img/tesimg.png']|join:[base_url(),'/uploads/noticias/', noticia.imagem]|join}}" alt="" class="img-responsive">
                        </div>
                        <div class="panel-body">
                            <h4 class="titulo-noticia center-block text-center">{{noticia.titulo}}</h4>
                            <h5 class="">{{noticia.subtitulo}}</h5>
                            <a href="{{base_url()}}/noticia/{{noticia.id}}" class="btn btn-secondary active color-but center-block" role="button" aria-pressed="true">Saiba mais</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-1 hidden-xs hidden-sm hidden-md esp-sup">
                <button type="button" role="presentation"
                    class="glyphicon glyphicon-chevron-right btn btn-default go go-right">
                </button>
            </div>
            <div class="col-lg-12 visible-xs visible-md visible-sm hidden-lg text-center esp-inf">
                <button type="button" role="presentation"
                    class="glyphicon glyphicon-chevron-left btn btn-default go go-left">
                </button>
                <button type="button" role="presentation"
                    class="glyphicon glyphicon-chevron-right btn btn-default go go-right">
                </button>
            </div>
        </div>
        <a href="{{base_url()}}/noticias">
            <div class="text-right mais">Ver todas as notícias<i class="fa fa-chevron-right" aria-hidden="true"></i>
            </div>
        </a>
    </div>
    <div class="intro" id="encontros">
        <div class="container">
            <div class="space-100"></div>
            <div class="tim-title text-center">
                <h1>Sobre o evento</h1>
            </div>
            <div class="text-justify tim-title text-center .text-nowrap">
                <p class="testantotesto">O tema principal do evento está relacionado a promoção de troca de experiências entre os
                    estudantes, vivenciadas em atividades de ensino, pesquisa e extensão e com o fortalecimento
                    do
                    elo entre a universidade e a comunidade.
                    O momento dos Encontros, em particular, é a culminância do esforço conjunto, de estudantes,
                    professores e funcionários em geral, sendo fruto do compromisso, da dedicação e da
                    responsabilidade de cada
                    um
                    que, dia após dia, trabalha com o objetivo de produzir algo inovador; prestar
                    serviço com melhor qualidade à comunidade; aperfeiçoar métodos e técnicas de ensino e, por
                    um,
                    cumprir com excelência o seu papel dentro da universidade.
                    Pode-se dizer, também, que esse é um momento de reflexão sobre o que pode ser melhorado
                    para a obtenção de resultados cada vez mais positivos desse esforço conjunto, pois,
                    professores
                    e estudantes interagem entre si e, também, com a comunidade externa, por meio da Feria de
                    Profissões e os eventos envolvendo empresas que são beneficiadas com o avanço da tecnologia
                </p>
            </div>
            <div class="space"></div>
        </div>
    </div>
    <div class="objetivos" id="objetivos">
        <div class="container">
            <div class="space"></div>
            <div class="tim-title text-center">
                <h1>Objetivos</h1>
            </div>
            <div class="text-justify tim-title text-center .text-nowrap">
                <p class="testantotesto">O tema principal do evento está relacionado a promoção de troca de experiências entre os
                    estudantes, vivenciadas em atividades de ensino, pesquisa e extensão e com o fortalecimento do
                    elo entre a universidade e a comunidade.
                    O momento dos Encontros, em particular, é a culminância do esforço conjunto, de estudantes,
                    professores e funcionários em geral, sendo fruto do compromisso, da dedicação e da responsabilidade
                    de cada
                    um
                    que, dia após dia, trabalha com o objetivo de produzir algo inovador; prestar
                    serviço com melhor qualidade à comunidade; aperfeiçoar métodos e técnicas de ensino e, por um,
                    cumprir com excelência o seu papel dentro da universidade.
                    Pode-se dizer, também, que esse é um momento de reflexão sobre o que pode ser melhorado
                    para a obtenção de resultados cada vez mais positivos desse esforço conjunto, pois, professores
                    e estudantes interagem entre si e, também, com a comunidade externa, por meio da Feria de
                    Profissões e os eventos envolvendo empresas que são beneficiadas com o avanço da tecnologia</p>
            </div>
            <div class="space"></div>
        </div>
    </div>
    <div class="cronograma" id="cronograma">
        <div class="space-30"></div>
        <div class="container">
            <div class="tim-title text-center">
                <h1>Calendário</h1>
            </div>
            <div class="timeline">
                <div class="timeline__wrap">
                    <div class="timeline__items">
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2 class="azul-timeline">21/09 a 27/09</h2>
                                <p>Período de submissões</p>
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2 class="azul-timeline">28/09 a 02/10</h2>
                                <p>Período de validação do orientador</p>
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2 class="azul-timeline">12/10 a 15/10</h2>
                                <p>Divulgação do resultado parcial</p>
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2 class="azul-timeline">11/10 a 14/10</h2>
                                <p>Período de recurso</p>
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2 class="azul-timeline">21/10</h2>
                                <p>Divulgação do resultado final</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-30"></div>
    </div>
    <div class="atividades" id="atividades">
        <div class="container">
            <div class="space"></div>
            <div class="tim-title text-center cor-tit">
                <h1>Atividades</h1>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-12 col-xs-12 col-sm-12">
                    <div class="caixa">
                        <h2>Apresentações</h2>
                        <h5 class="espCaixa">aqui ficará uma breve descrição dos mini-cursos que vão ocorrer nos EU</h5>
                        <a href="{{base_url()}}/apresentacoes" class="btn btn-secondary active color-but botaoposicao" role="button" aria-pressed="true">Saiba mais</a>
                        <!--<button type="button" class="btn btn-danger botaoposcicao">Danger</button>-->
                        <!--<button type="button" class="btn btn-secondary botaoposcicao">Saiba mais</button>-->
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-xs-12 col-sm-12">
                    <div class="caixa">
                        <h2>Mini Cursos</h2>
                        <h5 class="espCaixa">aqui ficará uma breve descrição dos mini-cursos que vão ocorrer nos EU</h5>
                        <a href="{{base_url()}}/mini_cursos" class="btn btn-secondary active color-but botaoposicao" role="button" aria-pressed="true">Saiba mais</a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-12 col-md-12 col-sm-12">
                    <div class="caixa">
                        <h2>Oficinas</h2>
                        <h5 class="espCaixa">aqui ficará uma breve descrição das oficinas que vão ocorrer nos EU</h5>
                        <a href="{{base_url()}}/oficinas" class="btn btn-secondary active color-but botaoposicao" role="button" aria-pressed="true">Saiba mais</a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-12 col-md-12 col-sm-12">
                    <div class="caixa">
                        <h2>Palestras</h2>
                        <h5 class="espCaixa">aqui ficará uma breve descrição das palestras que vão ocorrer nos EU</h5>
                        <a href="{{base_url()}}/palestras" class="btn btn-secondary active color-but botaoposicao" role="button" aria-pressed="true">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="space"></div>
        </div>
    </div>
    <div id="carousel">
        <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                <li data-target="#carousel-example-generic" data-slide-to="8"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner inteiro">
                <div class="item active">
                    <img src="assets/img/img1.jpg" class="img-fluid my-responsive" alt="Awesome Image">
                </div>
                <div class="item">
                    <img src="assets/img/img2.jpg" class="img-fluid my-responsive" alt="Awesome Image">
                </div>
                <div class="item">
                    <img src="assets/img/img3.jpg" class="img-fluid my-responsive" alt="Awesome Image">
                </div>
                <div class="item">
                    <img src="assets/img/img4.jpg" class="img-fluid my-responsive" alt="Awesome Image">
                </div>
                <div class="item">
                    <img src="assets/img/img5.jpg" class="img-fluid my-responsive" alt="Awesome Image">
                </div>
                <div class="item">
                    <img src="assets/img/img6.jpg" class="img-fluid my-responsive" alt="Awesome Image">
                </div>
                <div class="item">
                    <img src="assets/img/img7.jpg" class="img-fluid my-responsive" alt="Awesome Image">
                </div>
                <div class="item">
                    <img src="assets/img/img8.jpg" class="img-fluid my-responsive" alt="Awesome Image">
                </div>
                <div class="item">
                    <img src="assets/img/img9.jpg" class="img-fluid my-responsive" alt="Awesome Image">
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="fa fa-angle-left fa-4x"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="fa fa-angle-right fa-4x"></span>
            </a>
        </div>
    </div> <!-- end carousel -->
    {% endblock %}