{% extends 'front/base/template-base.html' %}
{% block title %}Inicio{% endblock %}
    {% block content %}
    <div class="container">
        {% if noticias %}
        <div class="space-30"></div>
        <div class="row">
            <div class="col-lg-1 hidden-xs hidden-sm hidden-md esp-sup">
                <button type="button" role="presentation"
                    class="glyphicon glyphicon-chevron-left btn go go-left">
                </button>
            </div>
            <div class="col-lg-10">
                <div class="owl-carousel carousel-noticias">
                    {% for noticia in noticias%}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <img src="{{noticia.imagem is null ? [base_url(),'/assets/img/tesimg.png']|join:[base_url(),'/uploads/noticias/', noticia.imagem]|join}}" alt="" class="img-responsive">
                        </div>
                        <div class="panel-body">
                            <h5 class="titulo-noticia center-block text-center">{{noticia.titulo}}</h5>
                            <!-- <p class="">{{noticia.subtitulo}}</p> -->
                            <a href="{{base_url()}}/noticia/{{noticia.id}}" class="btn btn-secondary active color-but center-block" role="button" aria-pressed="true">Saiba mais</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-1 hidden-xs hidden-sm hidden-md esp-sup">
                <button type="button" role="presentation"
                    class="glyphicon glyphicon-chevron-right btn btn-default go go-right">
                </button>
            </div>
            <div class="col-lg-12 visible-xs visible-md visible-sm hidden-lg text-center esp-inf">
                <button type="button" role="presentation"
                    class="glyphicon glyphicon-chevron-left btn btn-default go go-left">
                </button>
                <button type="button" role="presentation"
                    class="glyphicon glyphicon-chevron-right btn btn-default go go-right">
                </button>
            </div>
        </div>
        <a href="{{base_url()}}/noticias">
            <div class="text-right mais">Ver todas as notícias<i class="fa fa-chevron-right" aria-hidden="true"></i>
            </div>
        </a>
        {% else %}
        <div class="space"></div>
        <div class="text-center">
            <h3>Não há Noticias!</h3>
        </div>
        <div class="space"></div>
        {% endif %}
    </div>
    <div class="intro" id="encontros">
        <div class="container">
            <div class="space-100"></div>
            <div class="tim-title text-center">
                <h1>Sobre o evento</h1>
            </div>
            <div class="text-justify tim-title text-center .text-nowrap">
                <p class="testantotesto">O 4º Encontros Universitários (EURus) e a 2ª Feira de Profissões (FPRus) do 
                    Campus da UFC de Russas são anualmente realizados no Campus da UFC na cidade de Russas, 
                    Estado do Ceará.  A cada ano, a organização dos eventos fica a cargo de uma comissão que 
                    é nomeada pela própria direção do Campus.  Em 2019, os dois eventos acontecerão  entre os dias 
                    06 e 08 de novembro e terá como tema  “da Universidade para o mercado de trabalho: ações de inovação
                    e empreendedorismo”.  Os Encontros possuem as seguintes modalidades: Iniciação Científica, Iniciação Acadêmica,
                    Projetos de Extensão, Aprendizagem Cooperativa, Monitoria de Projetos de Graduação, Iniciação à Docência e Práticas Docentes no Ensino Superior.
                </p>
            </div>
            <div class="space"></div>
        </div>
    </div>
    <div class="objetivos" id="objetivos">
        <div class="container">
            <div class="space"></div>
            <div class="tim-title text-center">
                <h1>Objetivos</h1>
            </div>
            <div class="text-justify tim-title text-center .text-nowrap">
                <p class="testantotesto">
                        Ao longo dos últimos anos, a tecnologia tem sido uma importante 
                        aliada no desenvolvimento de grandes negócios, tendo possibilitado 
                        a criação e evolução de empresas startups, que são empresas de baixo 
                        custo que buscam encontrar soluções para diversos problemas práticos 
                        em diversas áreas. Assim, os Encontros Universitários tem como objetivo 
                        promover a troca de experiências entre os estudantes, vivenciadas em atividades 
                        de ensino, pesquisa e extensão, favorecendo, assim, a criação de novas ideias e, 
                        ao mesmo tempo, promovendo as ideias já implementadas.
                </p>
            </div>
            <div class="space"></div>
        </div>
    </div>
    <!--coisa nova aqui-->
    <div class="missao" id="missao">
        <div class="container">
            <div class="space"></div>
            <div class="tim-title text-center">
                <h1>Missão</h1>
            </div>
            <div class="text-justify tim-title text-center .text-nowrap">
                <p class="testantotesto">
                    Promover a troca de experiências entre estudantes, principalmente as vivenciadas em atividades de ensino, pesquisa e extensão.
                </p>
            </div>
            <div class="space"></div>
        </div>
    </div>
    <div class="visao" id="encontros">
        <div class="container">
            <div class="space-100"></div>
            <div class="tim-title text-center">
                <h1>Visão</h1>
            </div>
            <div class="text-justify tim-title text-center .text-nowrap">
                <p class="testantotesto">
                    Favorecer o desenvolvimento de novas ideias que resolvam problemas da sociedade e propiciem o desenvolvimento regional e, ao mesmo tempo, divulgar as ações propostas e desenvolvidas pela comunidade acadêmica.
                </p>
            </div>
            <div class="space"></div>
        </div>
    </div>
    <div class="valores" id="encontros">
            <div class="container">
                <div class="space"></div>
                <div class="tim-title text-center">
                    <h1>Valores</h1>
                </div>
                <div class="text-justify tim-title text-center .text-nowrap">
                    <p class="testantotesto">
                        Comprometimento com o desenvolvimento tecnológico e a aprendizagem;
                        Inovação, pois é inovando que se promove soluções que atendam às necessidades da  sociedade atual, a qual está em constante transformação;
                        Sustentabilidade, as soluções propostas para a sociedade atual não podem comprometer o desenvolvimento de soluções para problemas da sociedade no futuro;
                        Acolhimento, inclusão e respeito aos seres vivos e à natureza
                    </p>
                </div>
                <div class="space"></div>
            </div>
    </div>
    <!--coisa nova aqui-->
    <div class="cronograma" id="cronograma">
        <div class="space-30"></div>
        <div class="container">
            <div class="tim-title text-center">
                <h1>Calendário</h1>
            </div>
            <div class="timeline">
                <div class="timeline__wrap">
                    <div class="timeline__items">
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2 class="azul-timeline">21 a 27 de setembro</h2>
                                <p>Primeira fase de submissão dos trabalhos</p>
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2 class="azul-timeline">28 de setembro a 02 de outubro</h2>
                                <p>Avaliação dos trabalhos submetidos</p>
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2 class="azul-timeline">11 de outubro</h2>
                                <p>Divulgação dos resultados das submissões</p>
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2 class="azul-timeline">12 a 15 de outubro</h2>
                                <p>Período de recurso para os trabalhos não aceitos</p>
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2 class="azul-timeline">16 a 20 de outubro</h2>
                                <p>Reavaliação dos trabalhos submetidos no período de recurso</p>
                            </div>
                        </div>
                        <div class="timeline__item">
                            <div class="timeline__content">
                                <h2 class="azul-timeline">21 de outubro</h2>
                                <p>Resultado dos recursos</p>
                            </div>
                        </div>
                        <div class="timeline__item">
                                <div class="timeline__content">
                                    <h2 class="azul-timeline">22 a 24 de outubro</h2>
                                    <p>Submissão final de todos os trabalhos aceitos</p>
                                </div>
                        </div>
                        <div class="timeline__item">
                                <div class="timeline__content">
                                    <h2 class="azul-timeline">06 a 08 de novembro</h2>
                                    <p>IV Encontros Universitários da UFC em Russas</p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-30"></div>
    </div>
    <div class="atividades" id="atividades">
        <div class="container">
            <div class="space"></div>
            <div class="tim-title text-center cor-tit">
                <h1>Atividades</h1>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-12 col-xs-12 col-sm-12">
                    <div class="caixa">
                        <h2>Apresentações</h2>
                        <img src="{{base_url()}}/assets/img/presentation.png" alt="" class="img-responsive imgCardAti">
                        <a href="{{base_url()}}/apresentacoes" class="btn btn-secondary active color-but botaoposicao" role="button" aria-pressed="true">Saiba mais</a>
                        <!--<button type="button" class="btn btn-danger botaoposcicao">Danger</button>-->
                        <!--<button type="button" class="btn btn-secondary botaoposcicao">Saiba mais</button>-->
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-xs-12 col-sm-12">
                    <div class="caixa">
                        <h2>Mini Cursos</h2>
                        <img src="{{base_url()}}/assets/img/training.png" alt="" class="img-responsive imgCardAti">
                        <a href="{{base_url()}}/mini_cursos" class="btn btn-secondary active color-but botaoposicao" role="button" aria-pressed="true">Saiba mais</a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-12 col-md-12 col-sm-12">
                    <div class="caixa">
                        <h2>Oficinas</h2>
                        <img src="{{base_url()}}/assets/img/elearning.png" alt="" class="img-responsive imgCardAti">
                        <a href="{{base_url()}}/oficinas" class="btn btn-secondary active color-but botaoposicao" role="button" aria-pressed="true">Saiba mais</a>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-12 col-md-12 col-sm-12">
                    <div class="caixa">
                        <h2>Palestras</h2>
                        <img src="{{base_url()}}/assets/img/lecture.png" alt="" class="img-responsive imgCardAti">
                        <a href="{{base_url()}}/palestras" class="btn btn-secondary active color-but botaoposicao" role="button" aria-pressed="true">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="space"></div>
        </div>
    </div>
    <div id="carousel">
        <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                <li data-target="#carousel-example-generic" data-slide-to="8"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner inteiro">
                <div class="item active">
                    <img src="{{base_url()}}/assets/img/img1.jpg" class="img-fluid my-responsive" alt="Awesome Image">
                </div>
                <div class="item">
                    <img src="{{base_url()}}/assets/img/img2.jpg" class="img-fluid my-responsive" alt="Awesome Image">
                </div>
                <div class="item">
                    <img src="{{base_url()}}/assets/img/img3.jpg" class="img-fluid my-responsive" alt="Awesome Image">
                </div>
                <div class="item">
                    <img src="{{base_url()}}/assets/img/img4.jpg" class="img-fluid my-responsive" alt="Awesome Image">
                </div>
                <div class="item">
                    <img src="{{base_url()}}/assets/img/img5.jpg" class="img-fluid my-responsive" alt="Awesome Image">
                </div>
                <div class="item">
                    <img src="{{base_url()}}/assets/img/img6.jpg" class="img-fluid my-responsive" alt="Awesome Image">
                </div>
                <div class="item">
                    <img src="{{base_url()}}/assets/img/img7.jpg" class="img-fluid my-responsive" alt="Awesome Image">
                </div>
                <div class="item">
                    <img src="{{base_url()}}/assets/img/img8.jpg" class="img-fluid my-responsive" alt="Awesome Image">
                </div>
                <div class="item">
                    <img src="{{base_url()}}/assets/img/img9.jpg" class="img-fluid my-responsive" alt="Awesome Image">
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" data-target="#carousel-example-generic" data-slide="prev">
                <span class="fa fa-angle-left fa-4x"></span>
            </a>
            <a class="right carousel-control" data-target="#carousel-example-generic" data-slide="next">
                <span class="fa fa-angle-right fa-4x"></span>
            </a>
        </div>
    </div> <!-- end carousel -->
    {% endblock %}
{% block js %}
    <script src="{{base_url()}}/assets/js/inicio.js"></script>
{% endblock %}