{% extends 'front/base/template-base.html' %}
{% block title %}Manual{% endblock %}
{% block content %}
    <div class="pag-emBreve">
        <div class="container" id="manual">
            <div class="space"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-base animated bounceInLeft">
                                <div class="card-icon">
                                    <img src="{{base_url()}}/assets/img/imgconstrucao.png"  id="widgetCardIcon" class="imagecard">
                                    <div class="card-data widgetCardData">
                                        <h2 class="box-title">Manual</h2>
                                        <div class="card-left">
                                            <p class="card-block textoPalestra"><a href="https://drive.google.com/open?id=1utAqvfUjrP8l_VdzyCHeIYo_4DkyzMzj">Manual para Uso do Guardião</a></p>
                                            <p class="card-block textoPalestra"><a href="https://drive.google.com/open?id=1Ali5MAcGIknhsSTxXezyWEWHUw5f1tyk">Manual para Submissão do Resumo Final</a></p>
                                            <p class="card-block textoPalestra"><a href="http://n2s.russas.ufc.br/guardiao/">Link para o Guardião</a></p>
                                            <p class="card-block textoPalestra"><b>Observações:</b>
                                            <p class="card-block textoPalestra">1. os participantes devem estar atentos aos critérios de avaliação dos resumos, pois estes, para serem aceitos para
                                            apresentação, deverão obter nota igual ou superior a 6,0 pela comissão científica;</p>
                                            <p class="card-block textoPalestra">ou seja, os resumos que forem avaliados com nota abaixo de 6,0 não serão aceitos para apresentação;</p>
                                            <p class="card-block textoPalestra">2. o participante (bolsista ou não) poderá escolher seu tipo de envio, Resumo Simples ou Expandido;</p>
                                            <p class="card-block textoPalestra">3. caso o participante decida reenviar o seu resumo já com aval do orientador, fazendo uma substituição no
                                            sistema, este deverá solicitar novo aval.</p>   
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>      
                    </div>
                </div>
            <div class="space"></div>
        </div>
    </div>
{% endblock %}