{% extends 'front/base/template-base.html' %}
{% block title %}Mini Cursos{% endblock %}
{% block content %}
    <div class="pag-minicurso">
        <div class="container">
            <div class="space-100"></div>
            <div class="tim-title text-center">
                <h1>Minicursos</h1>
            </div>
            <div class="space-30"></div>
            <div class="container">
                    {% if mini_cursos %}
                    {% for mini_curso in mini_cursos %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-base animated bounceInLeft">
                                <div class="card-icon">
                                    <img src="{{mini_curso.imagem is null ? [base_url(),'/assets/img/pess1.png']|join:[base_url(),'/uploads/cursos_oficinas/', mini_curso.imagem]|join}}"
                                        id="widgetCardIcon" class="imagecard">
                                    <div class="card-data widgetCardData">
                                        <h3>{{mini_curso.titulo}}</h3>
                                        <div class="card-left">
                                            <p class="card-block textoPalestra"><b>Autor: </b>{{mini_curso.nome}}</p>
                                            <p class="card-block textoPalestra"><b>Área de atuação: </b>{{mini_curso.area}}</p>
                                            <p class="card-block textoPalestra"><b>Horário: </b>{{mini_curso.data|date('d/m/Y')}} as {{mini_curso.hora|date('H:i')}}</p>
                                            <p class="card-block textoPalestra"><b>Sala: </b>{{mini_curso.sala}}</p>
                                            <p class="card-block textoPalestra">
                                                <b>Resumo do Mini Curso:</b>
                                                <div class="card-resumo">
                                                    {{mini_curso.resumo|raw}}
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="space-30"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-base animated bounceInLeft">
                                <div class="card-icon">
                                    <div class="card-data widgetCardData">
                                        <h2 class="box-title">Em breve!</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            <div class="space-30"></div>
        </div>
    </div>
{% endblock %}