{% extends 'front/base/template-base.html' %}
{% block title %}Mini Cursos{% endblock %}
{% block content %}
    <div class="pag-noticias">
        <div class="container">
            <div class="space-100"></div>
            <div class="tim-title text-center">
                <h1>Minicursos</h1>
            </div>
            <div class="space-30"></div>
            <div class="container">
                    <div class = "row">
                        <div class = "col-md-12">
                            <div class="card-base animated bounceInLeft">
                                <div class="card-icon"><img src="assets/img/pess.png" id="widgetCardIcon" class="imagecard">
                                    <div class="card-data widgetCardData">
                                    <h3>Vivenciando o teatro na prática</h1>
                                    <h2 class="box-title" style="color: #2973d4;"></h2>
                                    <p class="card-block textoPalestra">Maria Joaquia<br \>
                                    Área de atuação: Teatro<br \>
                                    Resumo do minicurso:aqui ficará um breve resumo da palestra e o texto realmente é aberto para que o palestrante relate sobre o que ele quer apresentar<br \>
                                    Horário e Sala: </p>
                                    </div>
                        <div class="space-30"></div>
                                </div>
                            </div>
                        </div>      
                    </div>
                </div>
                <!---->
                <div class="container">
                        <div class = "row">
                            <div class = "col-md-12">
                                <div class="card-base animated bounceInRight">
                                    <div class="card-icon"><img src="assets/img/pess1.png" id="widgetCardIcon" class="imagecard">
                                        <div class="card-data widgetCardData">
                                        <h3>Vivenciando o teatro na prática</h1>
                                        <h2 class="box-title" style="color: #2973d4;"></h2>
                                        <p class="card-block textoPalestra">Maria Joaquia<br \>
                                        Área de atuação: Teatro<br \>
                                        Resumo do minicurso:aqui ficará um breve resumo da palestra e o texto realmente é aberto para que o palestrante relate sobre o que ele quer apresentar<br \>
                                        Horário e Sala: </p>
                                        </div>
                            <div class="space-30"></div>
                                    </div>
                                </div>
                            </div>      
                        </div>
                    </div>
                    <!---->
                    <div class="container">
                            <div class = "row">
                                <div class = "col-md-12">
                                    <div class="card-base animated bounceInLeft">
                                        <div class="card-icon"><img src="assets/img/pess2.png" id="widgetCardIcon" class="imagecard">
                                            <div class="card-data widgetCardData">
                                            <h3>Vivenciando o teatro na prática</h1>
                                            <h2 class="box-title" style="color: #2973d4;"></h2>
                                            <p class="card-block textoPalestra">Maria Joaquia<br \>
                                            Área de atuação: Teatro<br \>
                                            Resumo do minicurso:aqui ficará um breve resumo da palestra e o texto realmente é aberto para que o palestrante relate sobre o que ele quer apresentar<br \>
                                            Horário e Sala: </p>
                                            </div>
                                <div class="space-30"></div>
                                        </div>
                                    </div>
                                </div>      
                            </div>
                        </div>
            <div class="space"></div>
            
        </div>
    </div>
{% endblock %}