{% extends 'front/base/template-base.html' %}
{% block title %}Noticias{% endblock %}
{% block content %}
    <div class="pag-noticias">
        <div class="container">
            <div class="space-100"></div>
            <div class="tim-title text-center">
                <h1>Notícias</h1>
            </div>
            <div class="text-justify tim-title text-center .text-nowrap">
                <ol>
                    {% for noticia in noticias %}
                    <li class="link-list__item">
                        <article>
                            <header class="text-left">
                                <h1 class="link-list__title">{{noticia.titulo}}</h1>
                                <h2 class="link-list__subtitle">{{noticia.subtitulo}}</h2>
                                <a href="{{base_url()}}/noticia/{{noticia.id}}">
                                    <div class="text-right color-black">leia mais<i class="fa fa-chevron-right"></i>
                                    </div>
                                </a>
                            </header>
                        </article>
                    </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        <nav class="paginate">
            <ul class="pagination">
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="">2</a>
                </li>
                <li>
                    <a href="">3</a>
                </li>
                <li>
                    <a href="">4</a>
                </li>
                <li>
                    <a href="">5</a>
                </li>
            </ul>
        </nav>
        <div class="space-30"></div>
    </div>
{% endblock %}