{% extends 'front/base/template-base.html' %}
{% block title %}Noticias{% endblock %}
{% block content %}
    <div class="pag-noticias">
        <div class="container">
            <div class="space-100"></div>
            <div class="tim-title text-center">
                <h1>Notícias</h1>
            </div>
            <div class="text-justify tim-title text-center .text-nowrap">
                <ol>
                    <li class="link-list__item">
                        <article>
                            <header class="text-left">
                                <a href="caminho">
                                    <h1 class="link-list__title">RESULTADO FINAL E RECURSO DO PROCESSO SELETIVO UNIFICADO 2019 - PROGRAMA AUXÍLIO EMERGENCIAL 2019</h1>
                                    <h2 class="link-list__subtitle">A Direção da Universidade Federal do Ceará do Campus em Russas, no uso de suas atribuições administrativas, divulga a análise dos recursos interpostos e o resultado final do  processo seletivo unificado do Programa Auxí </h2>
                                    <a href="{{base_url()}}/noticia">
                                        <div class="text-right color-black">leia mais<i class="fa fa-chevron-right"></i>
                                        </div>
                                    </a>
                                </a>
                            </header>
                        </article>
                    </li>
                    <li class="link-list__item">
                        <article>
                            <header class="text-left">
                                <a href="caminho">
                                    <h1 class="link-list__title">RESULTADO PARCIAL DO PROCESSO SELETIVO UNIFICADO 2019 - PROGRAMA ISENÇÃO DA TAXA DO RESTAURANTE UNIVERSITÁRIO 2019</h1>
                                    <h2 class="link-list__subtitle">A Direção da Universidade Federal do Ceará do Campus em Russas, no uso de suas atribuições administrativas, torna público o resultado parcial do processo seletivo do Programa Isenção da Taxa do Restaurante Universit&aacut </h2>
                                    <a href="#">
                                        <div class="text-right color-black">leia mais<i class="fa fa-chevron-right"></i>
                                        </div>
                                    </a>
                                </a>
                            </header>
                        </article>
                    </li>
                    <li class="link-list__item">
                        <article>
                            <header class="text-left">
                                <a href="caminho">
                                    <h1 class="link-list__title">Concurso professor Adjunto - A Edital: 87/2019</h1>
                                    <h2 class="link-list__subtitle">Setor de Estudos - Engenharia de SoftwareEdital: 87/2019Comissão julgadora ...</h2>
                                    <a href="#">
                                        <div class="text-right color-black">leia mais<i class="fa fa-chevron-right"></i>
                                        </div>
                                    </a>
                                </a>
                            </header>
                        </article>
                    </li>
                    <li class="link-list__item">
                        <article>
                            <header class="text-left">
                                <a href="caminho">
                                    <h1 class="link-list__title">FORTALECENDO A BASE MATEMÁTICA</h1>
                                    <h2 class="link-list__subtitle">O Projeto “a base matemática necessária para os cursos de ciências e tecnologia” tem como objetivo auxiliar os alunos dos cursos de Graduação da UFC – Campus Russas – a fortalecer os conceitos de matemática b&aac ..</h2>
                                    <a href="#">
                                        <div class="text-right color-black">leia mais<i class="fa fa-chevron-right"></i>
                                        </div>
                                    </a>
                                </a>
                            </header>
                        </article>
                    </li>
                    <li class="link-list__item">
                        <article>
                            <header class="text-left">
                                <a href="caminho">
                                    <h1 class="link-list__title">INSCRIÇÕES ABERTAS PARA SELEÇÃO - CURSO DE EXTENSÃO: INTRODUÇÃO À PESQUISA DE MARKETING</h1>
                                    <h2 class="link-list__subtitle">Estão abertas no período de 10/06/2019 à 17/06/2019 as inscrições para seleção para o Curso de Extensão: Introdução à Pesquisa de Marketing. Informações sobre o curso, inscriç&oti ..</h2>
                                    <a href="#">
                                        <div class="text-right color-black">leia mais<i class="fa fa-chevron-right"></i>
                                        </div>
                                    </a>
                                </a>
                            </header>
                        </article>
                    </li>
                    <li class="link-list__item">
                        <article>
                            <header class="text-left">
                                <a href="caminho">
                                    <h1 class="link-list__title">INSCRIÇÕES ABERTAS PARA SELEÇÃO - CURSO DE EXTENSÃO: INTRODUÇÃO À PESQUISA DE MARKETING</h1>
                                    <h2 class="link-list__subtitle">Estão abertas no período de 10/06/2019 à 17/06/2019 as inscrições para seleção para o Curso de Extensão: Introdução à Pesquisa de Marketing. Informações sobre o curso, inscriç&oti ...</h2>
                                    <a href="#">
                                        <div class="text-right color-black">leia mais<i class="fa fa-chevron-right"></i>
                                        </div>
                                    </a>
                                </a>
                            </header>
                        </article>
                    </li>
                </ol>
            </div>
        </div>
        <nav class="paginate">
            <ul class="pagination">
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="">2</a>
                </li>
                <li>
                    <a href="">3</a>
                </li>
                <li>
                    <a href="">4</a>
                </li>
                <li>
                    <a href="">5</a>
                </li>
            </ul>
        </nav>
        <div class="space-30"></div>
    </div>
{% endblock %}