{% extends 'front/base/template-base.html' %}
{% block title %}Oficinas{% endblock %}
{% block content %}
    <div class="pag-minicurso">
        <div class="container">
            <div class="space-100"></div>
            <div class="tim-title text-center">
                <h1>Oficinas</h1>
            </div>
            <div class="space-30"></div>
            <div class="container">
                    {% if oficinas %}
                    {% for oficina in oficinas %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-base animated bounceInLeft">
                                <div class="card-icon"><img
                                        src="{{oficina.imagem is null ? [base_url(),'/assets/img/pess1.png']|join:[base_url(),'/uploads/cursos_oficinas/', oficina.imagem]|join}}"
                                        id="widgetCardIcon" class="imagecard">
                                    <div class="card-data widgetCardData">
                                        <h3>{{oficina.titulo}}</h1>
                                            <h2 class="box-title" style="color: #2973d4;"></h2>
                                            <p class="card-block textoPalestra">Autor: {{oficina.nome}}<br \>
                                                Área de atuação: {{oficina.area}}<br \>
                                                Resumo da palestra: {{oficina.resumo}}<br \>
                                                Horário: {{oficina.data|date('d/m/Y')}} as {{oficina.hora|date('H:i')}}<br>
                                                Sala: {{oficina.sala}}</p>
                                    </div>
                                    <div class="space-30"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-base animated bounceInLeft">
                                <div class="card-icon">
                                    <div class="card-data widgetCardData">
                                        <h2 class="box-title">Sem Oficinas Ainda!</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            <div class="space-30"></div>
        </div>
    </div>
{% endblock %}