{% extends 'front/base/template-base.html' %}
{% block title %}Oficinas{% endblock %}
{% block content %}
    <div class="pag-minicurso">
        <div class="container">
            <div class="space-100"></div>
            <div class="tim-title text-center">
                <h1>Oficinas</h1>
            </div>
            <div class="space-30"></div>
            <div class="container">
                    {% if oficinas %}
                    {% for oficina in oficinas %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-base animated bounceInLeft">
                                <div class="card-icon"><img
                                        src="{{oficina.imagem is null ? [base_url(),'/assets/img/pess1.png']|join:[base_url(),'/uploads/cursos_oficinas/', oficina.imagem]|join}}"
                                        id="widgetCardIcon" class="imagecard">
                                    <div class="card-data widgetCardData">
                                        <h3>{{oficina.titulo}}</h3>
                                        <div class="card-left">
                                            <p class="card-block textoPalestra"><b>Autor</b>: {{oficina.nome}}</p>
                                            <p class="card-block textoPalestra"><b>Área de atuação</b>: {{oficina.area}}</p>
                                            <p class="card-block textoPalestra"><b>Horário</b>: {{oficina.data}}</p>
                                            <p class="card-block textoPalestra"><b>Sala</b>: {{oficina.sala}}</p>
                                            <p class="card-block textoPalestra">
                                                <b>Resumo da Oficina:</b>
                                                <div class="card-resumo">
                                                    {{oficina.resumo|raw}}
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="space-30"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-base animated bounceInLeft">
                                <div class="card-icon">
                                    <div class="card-data widgetCardData">
                                        <h2 class="box-title">Em breve!</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            <div class="space-30"></div>
        </div>
    </div>
{% endblock %}