.my-responsive{
    width:100% !important;
    height: auto;
}
#navbar-full > div.blurred-container > div.motto{
    width: 100%;
    top:50px;
}
.descricao > *, .descricao{
    background-color: blue;
}

.descricao > *, .descricao{
    color: yellow;
}
