.my-responsive{
    width:100% !important;
    height: auto;
}
#navbar-full > div.blurred-container > div.motto{
    width: 97%;
    top:50px;
}
.descricao{ 
    background-color: #ffde59;
}

.descricao{
    color: rgb(255, 255, 255);
}

.objetivos{
    background-image: url('../img/objetivo.png');
    color: rgb(255, 255, 255);
}

.intro{
    background-color: #353f9b;
    color: rgb(255, 255, 255);
}