{% extends "admin/base/template-base-dashboard.html" %}
{% block title %}Editais{% endblock %}
{% block page %}
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="col-lg-12">

                        {% if flash('editais') %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <i class="fas fa-check"></i> {{ flash('editais')[0] }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div> 
                        {% endif %}


                        <div class="au-card recent-report">
                            <div class="au-card-inner">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h3 class="title-2 m-b-30">Editais</h3>
                                    </div>
                                    <div class="col-lg-6 text-right">
                                        <a class="au-btn au-btn-icon au-btn--blue m-b-30" href="{{base_url()}}/admin/editais_modificacoes">
                                            <i class="zmdi zmdi-plus"></i>adicionar edital</a>
                                    </div>
                                </div>
                                <div class="table-responsive table--no-card m-b-30">
                                    <table class="table table-borderless table-striped table-earning">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Nome</th>
                                                <th>Descrição</th>
                                                <th>Tipo</th>
                                                <th class="text-center">Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if editais %}
                                            {% for edital in editais %}
                                            <tr>
                                                <td>
                                                    {{loop.index}}
                                                </td>
                                                <td>
                                                    {{edital.nome}}
                                                </td>
                                                <td>
                                                    {{edital.descricao|slice(0, 20)}}...
                                                </td>
                                                <td>
                                                    {{edital.tipo}}
                                                </td>
                                                <td class="text-center">
                                                    <a href="{{base_url()}}/admin/editais_modificacoes/{{edital.id}}" class="btn btn-warning">Atualizar</a>
                                                    <button type="button" id='edital-{{edital.id}}' class="btn btn-danger swldel">Deletar</button>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {% else %}
                                            <tr>
                                                <td colspan="5" class="text-center">Não há Registros!</td>
                                            </tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}{% block js %}
<script src="{{base_url()}}/assets/vendor/sweetalert/sweetalert.min.js"></script>
<script>
    $('.swldel').click(function (btn) {
        swal({
            title: "Deseja Deletar o Edital?",
            icon: 'warning',
            dangerMode: true,
            buttons: {
                cancel: 'Cancelar',
                delete: 'Confirmar'
            }
        }).then(function (willDelete) {
            if (willDelete) {
                swal(" ", {
                    title: "Edital Deletado com Sucesso!",
                    icon: "success",
                    timer: 1500,
                    buttons: false
                });
                location.href = BASE + "/admin/editais/del/" + btn.currentTarget.id.split("-")[1];
            } else {
                swal(" ", {
                    title: "Cancelado!",
                    icon: "error",
                    timer: 1500,
                    buttons: false
                });
            }
        });
    });
</script>
{% endblock %}