{% extends "admin/base/template-base-dashboard.html" %}
{% block title %}{{texto}} Noticias{% endblock %}
{% block page %}
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="col-lg-12">
                        <form method="POST" enctype="multipart/form-data">
                        <div class="card">
                            <div class="card-header">
                                <strong>{{texto}} Noticias</strong>
                            </div>
                            <div class="card-body card-block">
                                {% if mensagens %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <ul>
                                        {% for msg in mensagens %}
                                        <li>{{msg}}</li>
                                        {% endfor %}
                                    </ul>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% endif %}
                                <div class="form-group">
                                    <label for="titulo" class=" form-control-label">Titulo</label>
                                    <input type="text" id="titulo" name='titulo' placeholder="Digite o Titulo da Noticia" class="form-control" value='{{noticia.titulo}}'>
                                </div>
                                <div class="form-group">
                                    <label for="subtitulo" class=" form-control-label">Sub Titulo (Opcional)</label>
                                    <input type="text" id="subtitulo" name='subtitulo' placeholder="Digite o Sub Titulo da Noticia" class="form-control" value='{{noticia.subtitulo}}'>
                                </div>
                                {% if noticia.imagem %}
                                <img src="{{base_url()}}/uploads/noticias/{{noticia.imagem}}" style="width: 50%">
                                {% endif %}
                                <div class="form-group">
                                    <label for="imagem" class=" form-control-label">Imagem</label>
                                    <input type="file" id="imagem" name="imagem" class="form-control-file">
                                </div>
                                <div class="form-group">
                                    <label for="imagem_descricao" class=" form-control-label">Descrição da Imagem</label>
                                    <input type="text" id="imagem_descricao" name='imagem_descricao' placeholder="Digite a Descrição da Imagem da Noticia" class="form-control"
                                        value='{{noticia.imagem_descricao}}'>
                                </div>
                                <div class="form-group">
                                    <label for="conteudo" class=" form-control-label">Conteúdo</label>
                                    <textarea name="conteudo" id="conteudo" rows="5" placeholder="Digite o Conteúdo da Noticia..." class="form-control">{{noticia.conteudo|default("")}}</textarea>
                                </div>

                            </div>
                            <div class="card-footer">
                                <button type="submit" name='enviar' value="{{noticia.id}}" class="btn btn-success btn-sm">
                                    <i class="fa fa-dot-circle-o"></i> {{texto}}
                                </button>
                            </div>
                        </div>
                        </form>
                    </div>
{% endblock %}
{% block js %}
    <!-- <script src="{{base_url()}}/assets/ckeditor/ckeditor.js"></script>
    <script src="{{base_url()}}/assets/ckeditor/translations/pt-br.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#conteudo'), {
                language: 'pt-br'
            })
            .then(editor => {
                console.log(editor);
            })
            .catch(error => {
                console.error(error);
            });
    </script> -->
{% endblock %}