{% extends "admin/base/template-base-dashboard.html" %}
{% block title %}Usuarios{% endblock %}
{% block page %}
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="col-lg-12">
                        <div class="au-card recent-report">
                            <div class="au-card-inner">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h3 class="title-2 m-b-30">Usuários</h3>
                                    </div>
                                    <div class="col-lg-6 text-right">
                                        <a class="au-btn au-btn-icon au-btn--blue m-b-30" href="usuarios_modificar">
                                            <i class="zmdi zmdi-plus"></i>adicionar Usuário</a>
                                    </div>
                                </div>
                                <div class="table-responsive table--no-card m-b-30">
                                    <table class="table table-borderless table-striped table-earning">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Nome</th>
                                                <th>Email</th>
                                                <th>Tipo</th>
                                                <th class="text-center">Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    lori lynch
                                                </td>
                                                <td>
                                                    johndoe@gmail.com
                                                </td>
                                                <td>
                                                    Administrador
                                                </td>
                                                <td class="text-center">
                                                    <button type="button" class="btn btn-warning">Atualizar</button>
                                                    <button type="button" class="btn btn-danger">Deletar</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    2
                                                </td>
                                                <td>
                                                    lori lynch
                                                </td>
                                                <td>
                                                    johndoe@gmail.com
                                                </td>
                                                <td>
                                                    Administrador
                                                </td>
                                                <td class="text-center">
                                                    <button type="button" class="btn btn-warning">Atualizar</button>
                                                    <button type="button" class="btn btn-danger">Deletar</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    3
                                                </td>
                                                <td>
                                                    lori lynch
                                                </td>
                                                <td>
                                                    johndoe@gmail.com
                                                </td>
                                                <td>
                                                    Administrador
                                                </td>
                                                <td class="text-center">
                                                    <button type="button" class="btn btn-warning">Atualizar</button>
                                                    <button type="button" class="btn btn-danger">Deletar</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    4
                                                </td>
                                                <td>
                                                    lori lynch
                                                </td>
                                                <td>
                                                    johndoe@gmail.com
                                                </td>
                                                <td>
                                                    Administrador
                                                </td>
                                                <td class="text-center">
                                                    <button type="button" class="btn btn-warning">Atualizar</button>
                                                    <button type="button" class="btn btn-danger">Deletar</button>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}