{% extends ['front/', ano_atual['nome_ano'], '/base/template-base.html']|join %}
{% block title %}Edital{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ base_url() }}/assets/templates/2022/css/editais.css">
{% endblock %}
{% block content %}
<main>
  <div class="titulo">
    <section>
        <div class="quadrado"></div>
        <div class="texto">
            <h1>Editais</h1>
        </div>
</section>
</div>

<section class="container">
    <div class="rotulo">
        <p>LISTA ATUALIZADA DO EDITAL - DOCUMENTO
        </p>
        <div class="acessar">
          <a href="{{ base_url() }}/assets/templates/2022/documents/edital 2022_campus_de_russas-3_c5a134992a676f8.pdf" target="_blank">ACESSAR</a>
        </div>
    </div>
    <div class="rotulo">
        <p>LISTA ATUALIZADA DO ADITIVO - DOCUMENTO</p>
        <div class="acessar">
          <a href="{{ base_url() }}/assets/templates/2022/documents/aditivo de edital 2022 _cbd276ecae38659.pdf" target="_blank">ACESSAR</a>
        </div>
    </div>
</section>
</main>
{% endblock content %}