{% extends ['front/', ano_atual['nome_ano'], '/base/template-base.html']|join %}
{% block title %}Inscrição{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ base_url() }}/assets/templates/2022/css/editais.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/templates/2022/css/inscricao.css">
{% endblock %}
{% block content %}
<main>

    <div class="titulo">
        <section>
            <div class="quadrado"></div>
            <div class="texto">
                <h1>Como fazer a inscrição no EU 2022?</h1>
            </div>
        </section>
    </div>

    <div class="inscricao">
        <section class="texto-inscricao">
            <p>Para enviar o trabalho, o participante deverá preencher os dados cadastrais do formulário eletrônico dos
                <strong>VII ENCONTROS UNIVERSITÁRIOS DO CAMPUS DA UFC EM RUSSAS</strong> disponível no site da UFC.
                Após o cadastro, no site, escolher obrigatoriamente a modalidade na qual participará, de acordo com o
                tipo de projeto ao qual está vinculado.
            </p>
            <br>
            <p>O prazo para as submissões de trabalhos será a partir das <strong>8h</strong> do dia
                <strong>02/08/2021</strong> até as <strong>23:59h</strong> do dia <strong>07/09/2021</strong>, conforme
                descrito no cronograma constante no item 8 deste edital. A submissão será realizada, exclusivamente, por
                meio do preenchimento do formulário eletrônico no endereço <a class="link"
                    href="http://www.encontrosuniversitarios.ufc.br"
                    target="_blank">http://www.encontrosuniversitarios.ufc.br</a>.</p>
            <br>
            <p><strong>Não serão aceitas submissões fora do prazo.</strong></p>
            <br>
            <p>Poderão submeter trabalhos os alunos regularmente matriculados nos cursos de graduação do Campus da UFC
                em Russas, sob orientação de servidores docentes e/ou técnico-administrativos. Na modalidade Práticas
                Docentes no Ensino Superior, poderão se inscrever apenas docentes efetivos ou substitutos da
                Universidade Federal do Ceará, sendo dispensado o papel do orientador. Os trabalhos submetidos deverão
                seguir os seguintes tipos de submissão:</p>
            <br>
            <p><strong>Resumo Expandido ou Resumo Simples.</strong> Em ambos os casos deve ser submetido pelo autor
                principal, e com supervisão e anuência do orientador do projeto, em português.</p>

            <div class="links">

                <a href="http://sysprppg.ufc.br/eu/2022/" target="_blank">ACESSAR SITE DE INCRIÇÂO</a>
            </div>
        </section>
    </div>
</main>
{% endblock content %}
