{% extends ['front/', ano_atual['nome_ano'], '/base/template-base.html']|join %}
{% block title %}Links úteis{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ base_url() }}/assets/templates/2022/css/editais.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/templates/2022/css/linksUteis.css">
{% endblock %}
{% block content %}
<main>

    <div class="titulo">
        <section>
            <div class="quadrado"></div>
            <div class="texto">
                <h1>Links úteis</h1>
            </div>
        </section>
    </div>

    <section class="container">
        <div class="rotulo">
            <p><strong>PÔSTER</strong> EU22 - CAMPUS RUSSAS EM <strong>PPXT</strong>
            </p>
            <div class="acessar">
                <a href="{{ base_url() }}/assets/templates/2022/documents/Poster-EU22-Campus-Russas.pptx">ACESSAR</a>
            </div>
        </div>
        <div class="rotulo">
            <p><strong>PÔSTER</strong> EU22 - CAMPUS RUSSAS EM <strong>PNG</strong>
            </p>
            <div class="acessar">
                <a href="{{ base_url() }}/assets/templates/2022/documents/poster_eu2022.jpeg"
                    download="documents/poster_eu2022.jpeg">ACESSAR</a>
            </div>

        </div>
    </section>
</main>
{% endblock content %}