{% extends ['front/', ano_atual['nome_ano'], '/base/template-base.html']|join %}
{% block title %}Notícias{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ base_url() }}/assets/templates/2022/css/editais.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/templates/2022/css/inscricao.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/templates/2022/css/noticia-data.css">
{% endblock %}
{% block content %}
<main>

    <div class="titulo">
        <section>
            <div class="quadrado"></div>
            <div class="texto">
                <h1>Lançado Aditivo ao Edital 02/2022 dos VII Encontros Universitários; Inscrições vão até sexta(16)
                </h1>
            </div>
        </section>
    </div>

    <div class="inscricao">
        <section class="texto-inscricao">
            <p>A Comissão Organizadora da edição de 2022 dos VII Encontros Universitários da UFC - Campus de Russas
                informa que foi lançado um <a class="link"
                    href="http://www.campusrussas.ufc.br/uploads/docs2022/aditivo%20de%20edital%202022%20_cbd276ecae38659.pdf"
                    target="_blank">aditivo</a> ao edital dos EU2022.
            </p>
            <br>
            <p>O aditivo informa sobre as submissões, que deverão ser realizadas com o devido preenchimento de todos os
                campos da plataforma, seguindo as orientações dispostas no Anexo I. Outra informação acrescentada
                discorre sobre a escolha da modalidade para PIBIT e PIBIC, que deverá ser “iniciação científica”, e na
                modalidade para PIBI deverá ser “extensão”.
            </p>
            <br>
            <p><strong>As inscrições terminam nessa sexta feira(16), não há previsão para prorrogação do prazo, por isso
                    é importante que as submissões sejam realizadas o mais breve possível.</strong></p>
            <br>
            <p><strong>O anexo I do Edital traz as instruções para redação dos resumos:</strong></p>
            <br>
            <ul class="instrucoes-redacao">
                <li>Escolha o tipo de apresentação: Pôster;</li>
                <li>Escolha da Área de conhecimento: modalidade da bolsa;</li>
                <li>Escreva o Título em letras maiúsculas;</li>
                <li>Digite o CPF do orientador;</li>
                <li>Acrescente até quatro participantes coautores. Os nomes dos coautores devem ser escritos em
                    minúsculo sendo apenas em maiúsculo a primeira letra de cada nome;</li>
                <li>O resumo tem que ser digitado em português e conter o mínimo de 1400 caracteres e o máximo de 2000
                    caracteres com espaços;</li>
                <li>O resumo deve ser estruturado em parágrafo único;</li>
                <li>Organize o resumo de forma a incluir uma pequena introdução, objetivos, metodologia, resultados e a
                    conclusão do trabalho, mesmo que parcial. NÃO SERÃO ACEITOS RESUMOS QUE NÃO POSSUAM RESULTADOS;</li>
                <li>Deve-se usar o verbo na voz ativa e na terceira pessoa do singular;</li>
                <li>Devem-se evitar: a) Símbolos e contrações que não sejam de uso corrente; b) Fórmulas, equações,
                    diagramas etc., que não sejam absolutamente necessários; quando seu emprego for imprescindível,
                    defini-los na primeira vez que aparecem.</li>
                <li>Os bolsistas estão obrigados a fazer agradecimento ao órgão financiador da bolsa no final do resumo
                    e no pôster ou slide final (da apresentação);</li>
                <li>As palavras-chave (quatro no máximo) devem ser digitadas em letras maiúsculas apenas no espaço
                    referente a elas no Formulário eletrônico;</li>
                <li>Trabalhos de Bolsistas de Iniciação científica devem conter obrigatoriamente o próprio bolsista como
                    autor principal;</li>
                <li>O teor do resumo é de total responsabilidade do Autor/Orientador, não podendo ser alterado após a
                    Fase de “Ajustes/Homologação de Resumos”, cuja homologação é feita pelo orientador no sistema de
                    submissão dos resumos.</li>
            </ul>
            <br>
            <br>
            <div class="acesso-rapido">
                <p><strong>Acesso rápido:</strong></p>
                <a href="http://www.campusrussas.ufc.br/uploads/docs2022/edital%202022%20_1da022c8ced6d59.pdf"
                    target="_blank">Edital dos VII Encontros Universitários do Campus de Russas</a>
                <a href="http://sysprppg.ufc.br/eu/2022/" target="_blank">Link para inscrição</a>
                <a href="http://www.campusrussas.ufc.br/uploads/docs2022/aditivo%20de%20edital%202022%20_cbd276ecae38659.pdf"
                    target="_blank">Aditivo I</a>
            </div>
            <br>
            <br>
            <p>Fonte: Comissão Organizadora dos EU2022 do Campus da UFC em Russas - Contato:
                encontros.ufcrussas@gmail.com</p>
        </section>
    </div>
</main>
{% endblock content %}