{% extends ['front/', ano_atual['nome_ano'], '/base/template-base.html']|join %}
{% block title %}Notícias{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ base_url() }}/assets/templates/2022/css/editais.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/templates/2022/css/inscricao.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/templates/2022/css/noticia-data.css">
{% endblock %}
{% block content %}
<main>

    <div class="titulo">
        <section>
            <div class="quadrado"></div>
            <div class="texto">
                <h1>Formulários de avaliação dos resumos cadastrados para os EU2022 foram enviados por e-mail aos
                    avaliadores</h1>
            </div>
        </section>
    </div>

    <div class="inscricao">
        <section class="texto-inscricao">
            <p>A Comissão Organizadora do evento VII Encontros Universitários da Universidade Federal do Ceará – Campus
                de Russas, no uso de suas atribuições administrativas, divulga os resumos cadastrados. Foram 160 resumos
                cadastrados no total. A próxima fase do processo consiste na análise do resumos por parte da comissão
                científica, formada por docentes do Campus da UFC em Russas. O período de análise tem início hoje, dia
                26, e vai até o dia 10 de outubro de 2022.
            </p>
            <br>
            <a class="link"
                href="http://www.campusrussas.ufc.br/uploads/docs2022/resumos%20cadastrados%20eu2022_77c8cfdba136664.pdf"
                target="_blank">RESUMOS CADASTRADOS NOS EU2022</a>
            <br>
            <p>No dia 14/10, serão divulgados os resumos aceitos pela comissão. Após a divulgação, aqueles que desejarem
                terão de 17 a 20 de outubro para enviarem recursos. O resultado dos recursos sairá dia 25 de outubro e a
                divulgação resultado final dos resumos aceitos será dia 01/11.
            </p>
            <br>

            <br>

            <div class="acesso-rapido">
                <p><strong>Acesso rápido:</strong></p>
                <a href="http://www.campusrussas.ufc.br/uploads/docs2022/edital%202022%20_1da022c8ced6d59.pdf"
                    target="_blank">Edital dos VII Encontros Universitários do Campus de Russas</a>
                <a href="http://sysprppg.ufc.br/eu/2022/" target="_blank">Link para inscrição</a>
                <a href="http://www.campusrussas.ufc.br/uploads/docs2022/aditivo%20de%20edital%202022%20_cbd276ecae38659.pdf"
                    target="_blank">Aditivo I</a>
            </div>
            <br>
            <br>
            <p>Fonte: Comissão Organizadora dos EU2022 do Campus da UFC em Russas - Contato:
                encontros.ufcrussas@gmail.com</p>
        </section>
    </div>
</main>
{% endblock content %}